/* .card{
  border: 1px solid hsl(0, 0%, 80%);
  border: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: rgb(247, 248, 209);
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: hsl(219, 43%, 55%);
}

.card .card-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(219, 95%, 22%);
}

.button{
  background-color: rgb(190, 138, 238);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 50px;
}

.props{
  padding: 10px;
  border: 1px solid black;
  font-size: 10px;
}

.greeting{
  font-size: 2.5em;
  background-color: rgb(118, 252, 118);
  color: black;
  padding: 10px;

}

.login{
  font-size: 2.5em;
  background-color: rgb(252, 118, 118);
  color: black;
  padding: 10px;

} */

.counter-container{
  text-align: center;
}
.count-display{
  font-size: 10em;
  margin-bottom: 50px;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  margin: 0 5px;
  background-color: cadetblue;
  border-radius: 5px;
  cursor: pointer;
}