// 

.todo-list{
    text-align: center;
    margin-top: 10%;
    h1{
      font-size: 4rem;
    }
    button{
      font-size: 1.2rem;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    .add-btn{
      background-color: hsl(120, 87%, 64%);
      margin: 0 20px;
      &:hover{
        background-color: hsl(120, 87%, 34%);
      }
    }
    .delete-btn{
      background-color: hsl(2, 87%, 64%);
      &:hover{
        background-color: hsl(2, 87%, 34%);
      }
    }
    .move-btn{
      background-color: hsl(197, 87%, 64%);
      &:hover{
        background-color: hsl(197, 87%, 34%);
      }
    }
   input[type='text']{
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid black ;
    border-radius: 5px;
   }
   ol{
    padding: 0;
    margin: 20px 100px;
    li{
      font-size: 1.6rem;
      font-weight: bold;
      padding: 15px;
      background-color: beige;
      margin-bottom: 10px;
      border: 2px solid hsla(0, 0%, 85%, 0.75);
      border-radius: 10px;
      display: flex;
      align-items: center;
      .text{
        flex: 1;
      }
      .delete-btn,
      .move-btn{
        padding: 8px 12px;
        font-size: 1.2rem;
        margin-left: 10px;
      }
    }
   }
}